@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-size: 15px;
}

body{
  overflow-x: hidden;
}

.borderBox{
    float:left;
    background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 3p× 1px;
    background-repeat: repeat-х;

    background-image: linear-gradient(black 33%, rgba (255,255,255,0) 100%);
background-position: right;
background-size: 1px 3px;
background-repeat: repeat-y;
}

/* Custom class for dashed border with 10px dash length and 20px spacing */
.dashed-border {
    border-bottom: 2px dashed transparent; /* Define a transparent dashed border */
    border-image: repeating-linear-gradient(
      to right,
      transparent,
      transparent 14px, /* 10px for dash length */
      #E8C480 10px, /* 10px for dash length */
      #E8C480 33px /* 20px for spacing */
    );
    border-image-slice: 1;
    padding: 40px; /* Add padding as needed */
  }

  

 /* width */
#custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  #custom-scrollbar::-webkit-scrollbar-track {
    background: white; 
  }
   
  /* Handle */
  #custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(100, 63, 244, 0.5);
    border-radius:10px;
  }
  

  #custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }



  .scale-up {
  scale: 30%;
  rotate: 8deg;
  position: absolute;
  left: -80;
  top: -150px;
  transform-origin: center;
  animation: scaleUpAnimation 1s forwards;
  }
  
  @keyframes scaleUpAnimation {
    0% {
      scale: 30%;
      rotate: 8deg;
      transform: translate(-80px, -150px);
    }
    100% {
     scale: 100%;
     rotate: 0deg;
      transform: translate(-90px, -30px);
    }
  }

  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(370deg); /* Rotate to 370 degrees halfway through */
    }
    100% {
      transform: rotate(360deg); /* Rotate back to 360 degrees at the end */
    }
  }
  
  .box {
    animation: rotateAnimation 2s forwards;
    transform-origin: center;
  }


  /* Rotating object 1 */
.rotating-object {
  animation: rAnimation 2s forwards;
  transform-origin: center;
}

@keyframes rAnimation {
  0% {
    transform: rotate(150deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(150deg);
  }
}

/* Rotating object 2 */
.rotating-object2 {
  animation: rAnimation2 2s forwards;
  transform-origin: center;
}

@keyframes rAnimation2 {
  0% {
    transform: rotate(150deg);
  }
  50% {
    transform: rotate(154deg);
  }
  100% {
    transform: rotate(150deg);
  }
}

/* Moving object */
.moving-object {
  animation: movingAnimation 2s forwards;
}


@keyframes movingAnimation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Scale object */
.scale-object {
  animation: scaleAnimation 2s forwards;
  transform-origin: center;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


.text-slide-in {
  position: relative;
  overflow: hidden;
}

.text-slide-in p, .text-slide-in h1 {
  position: relative;
  left: -100%;
  animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
  0% {
    left: -100%;
  
  }
  100% {
    left: 0;

  }
}

@keyframes spin {
  20% {
    transform: rotate(220deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

.animate-spin {
  animation: spin 1s ease-in,  scale 1s ease-in;
  z-index: 2
}


.wrapperObject {
  transform: translateX(400px);
  
  
}
.animate-section .wrapperObject{
animation: x-axis 1s linear forwards;
}

.moveWrapper{
  transform: translateY(800px);
  
}

.animate-section .moveWrapper{
  animation: y-axis 1s ease-in-out forwards;
}

@keyframes x-axis {

  100% {
    transform: translateX(-60px);
  }
  
}

@keyframes y-axis{
  50% {
    transform: translateY(1000px);
  }
}


.movingCircle{
  position: absolute;
  top: 30%;
  opacity: 0;
  
}

.animate-section .movingCircle{
  animation: rise 2s forwards 2s;
}

@keyframes rise {

  0%{
    top: 30%;
  }
  30%{
    opacity: 1;
  }
  100%{
    opacity: 1;
    top: -12%;
  }
  
}

/* Initial State */
.intro2 {
  transform: translateX(-100vw) scale(0);
  opacity: 0;
}

/* Animation Target State */
.animate-section .animate-in {
  animation: animatein 0.5s ease-out forwards;
}

@keyframes animatein {
  50% {
    transform: translateX(-100vw) scale(0);
    opacity: 0.2;
  }

  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
